<div>
  <h1>Dental Practice Data</h1>
</div>
<div div fxLayout="row" fxLayoutAlign="start start">
  <mat-form-field>
    <mat-select placeholder="Survey Year" (selectionChange)="onYearSelected($event)">
      <mat-option *ngFor="let year of yearList" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" *ngIf="showTable" (click)="onReturnToList()">Return to Practice List</button>
</div>
<div *ngIf="isYearSelected">
  <div *ngIf="showPracticeShowList">
    <app-dental-practice-list [practiceList]="practiceAveragesList" *ngIf="practiceAveragesList; else loading"
      (practiceInfo)="onPracticeSelected($event)"></app-dental-practice-list>
  </div>
  <div *ngIf="showTable">
    <app-practice-codes [title]="practiceName" fxFill *ngIf="practiceRegionCode; loadingCodes" [dataSource]="practiceRegionCode"></app-practice-codes>
    <ng-template #loadingCodes>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</div>
<ng-template #loading>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
