<div>
  <h1>Dental Practice Data</h1>
</div>
<div>
  <mat-form-field>
    <mat-select placeholder="Survey Year" (selectionChange)="onYearSelected($event)">
      <mat-option *ngFor="let year of yearList" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="isYearSelected">
  <app-dental-practice-list [practiceList]="practiceAveragesList" *ngIf="practiceAveragesList; else loading"
    (practiceInfo)="onPracticeSelected($event)"></app-dental-practice-list>
</div>
<div *ngIf="showTable">
  <app-practice-codes-table [title]="practiceName" fxFill *ngIf="practiceRegionCode; loadingCodes"></app-practice-codes-table>
  <ng-template #loadingCodes>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
</div>
<ng-template #loading>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
